 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a software developer, instructor, and tutor for all things programming and software development. Most of my professional experience is in web development and teaching children and adults. I am passionate about all things software, but my primary interest is in exploring more programming languages and paradigms.</p>
                </div>
                <div class="col-lg-4">
                    <p>This portfolio site is for showcasing what I consider my more "complete" projects (everything else is on github). This page will also serve as a place to display closed-source professional projects that are not available for viewing on github, such as those I completed as a contractor.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
                <!-- <a href="#" class="btn btn-lg btn-outline"> -->
                <!-- <i class="fa fa-download"></i> Download Theme -->
                <!-- </a> -->
                <!-- </div> -->
            </div>
        </div>
    </section>
