 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I used to think of github as my portfolio. I now realize github is not an ideal portfolio due to the clutter of repos and experiments. I thought I'd make this site to showcase and highlight my more "complete" projects.</p>
                </div>
                <div class="col-lg-4">
                    <p>This page will also serve as a place to display closed-source professional projects that are not available for viewing on github, such as those I completed as a contractor.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
                <!-- <a href="#" class="btn btn-lg btn-outline"> -->
                <!-- <i class="fa fa-download"></i> Download Theme -->
                <!-- </a> -->
                <!-- </div> -->
            </div>
        </div>
    </section>
